/* .navbar-toggler{
    margin: 7px;
    display: block;
    width: 22px;
    height: 1px;
    background-color: #cccccc;
    border-radius: 1px;
  } */

  .navbar-custom{
    background-color: #010C2C;
    font-family: Lato;
    font-size: 1.5em
  }

  .body{
    
    
  }