<!DOCTYPE html>
<body> 
<div class="container">
  <div class="row">
    <div class="circle project-item col-md-4 col-sm-6">
        <div class="project-item-1 wow fadeInLeft" data-wow-duration="0.5s" data-wow-delay="0.4s" style="visibility: visible; animation-duration: 0.5s; animation-delay: 0.4s;">
            <a href="https://github.com/RebeccaChen0601/Angry-birds" target="_blank">
            </a><div class="circle"><a href="https://github.com/RebeccaChen0601/Angry-birds" target="_blank">
                <div class="circle_title">
                    <h2>Angry Birds</h2>
                    <h3> Java </h3>
                </div>
                </a>
                <a href="https://github.com/RebeccaChen0601/Angry-birds" target="_blank">
                  <div class="circle_inner ione">
                  </div></a>
                <div class="content_shadow"></div>
                    <div class="techdisplay">A retro Angry Bird Game implemented by Java; using Libgdx, Box2D as frameworks</div>
            </div>
        </div>
    </div>
    <div class="circle col-md-4 col-sm-6 project-item">
        <div class="project-item-1 wow fadeInLeft" data-wow-duration="0.5s" data-wow-delay="0.4s" style="visibility: visible; animation-duration: 0.5s; animation-delay: 0.4s;">
            <a href="https://github.com/RebeccaChen0601/Energy_Station" target="_blank">
            </a><div class="circle"><a href="https://github.com/RebeccaChen0601/Energy_Station" target="_blank">
                <div class="circle_title">
                    <h2>Energy Station</h2>
                    <h3> React Native </h3>
                </div>
                </a>
                <a href="https://github.com/RebeccaChen0601/Energy_Station" target="_blank">
                  <div class="circle_inner itwo">
                  </div></a>
                <div class="content_shadow"></div>
                    <div class="techdisplay">An App to support people with mental illness problems</div>
            </div>
        </div>
    </div>
    <div class="circle col-md-4 col-sm-6 project-item">
      <img src="assets/img/profile-picture2.jpg" class="card-img-top" alt="Rebecca's Profile Picture">
      <div class="card-body">
        <h5 class="card-title">Matchable</h5>
        <p class="card-text">An Android App used for matching up people nearby for social/study purposes</p>
        <a href="/" class="btn">Explore more</a>
      </div>
    </div>
    <div class="circle col-md-4 col-sm-6 project-item">
      <img src="assets/img/profile-picture2.jpg" class="card-img-top" alt="Rebecca's Profile Picture">
      <div class="card-body">
        <h5 class="card-title">Pitch Perfect</h5>
        <p class="card-text">A Java-based application used to help people sing with the perfect pitch</p>
        <a href="/" class="btn">Explore more</a>
      </div>
    </div>
    <div class="circle col-md-4 col-sm-6 project-item">
      <img src="assets/img/profile-picture1.jpg" class="card-img-top" alt="Rebecca's Profile Picture1">
      <div class="card-body">
        <h5 class="card-title">Graphics 3D</h5>
        <p class="card-text">A 3D graphics engine built from scratch</p>
        <a href="/" class="btn">Explore more</a>
      </div>
    </div>
    <div class="circle col-md-4 col-sm-6 project-item">
      <img src="assets/img/profile-picture2.jpg" class="card-img-top" alt="Rebecca's Profile Picture">
      <div class="card-body">
        <h5 class="card-title">3D Rubik's Cube Puzzle Game</h5>
        <p class="card-text">a 3D game that allows users to solve a Rubik’s Cube Puzzle based the user-defined textures in six planes</p>
        <a href="/" class="btn ">Explore more</a>
      </div>
    </div>
    <div class="circle col-md-4 col-sm-6 project-item">
      <img src="assets/img/profile-picture2.jpg" class="card-img-top" alt="Rebecca's Profile Picture">
      <div class="card-body">
        <h5 class="card-title">Biquadris</h5>
        <p class="card-text">A two-player Tetris game with multiple levels and bonus mode</p>
        <a href="/" class="btn">Explore more</a>
      </div>
    </div>
    <div class="circle col-md-4 col-sm-6 project-item">
      <img src="assets/img/profile-picture2.jpg" class="card-img-top" alt="Rebecca's Profile Picture">
      <div class="card-body">
        <h5 class="card-title">Pong Game</h5>
        <p class="card-text">A pong game with player vs. computer and player vs. player modes</p>
        <a href="/" class="btn">Explore more</a>
      </div>
    </div>
  </div>
</div>
</body>

