<!DOCTYPE html>
<html xmlns:background-color="http://www.w3.org/1999/xhtml">
<body>
<!-- <div class="jumbotron jumbotron-fluid" background-color: dark>
  <div class="container">
    <h1 class="display-4">Rebecca Kefan Chen</h1>
    <p class="lead">Welcome to Rebecca's website!</p>
    
  </div>
</div> -->
<div class="container">
  <div class="row">
    <div class="col-lg-12">
        <h1>
            Rebecca Kefan Chen
          </h1>
          <h3>
            A multi-faceted innovator 
          </h3>
          <hr>
          <a class="btn btn-lg" href="/about" role="button">Learn about me</a>
    </div>
  </div>
</div>
</body>
</html>