
<!DOCTYPE html>
<div class="card" style="width: 18rem;">
    <img src="assets/img/profile-picture1.jpg" class="card-img-top" alt="Rebecca's Profile Picture1">
    <div class="card-body">
      <h5 class="card-title">First Story</h5>
      <p class="card-text">Some experience....</p>
      <a href="/" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
<div class="card" style="width: 18rem;">
    <img src="assets/img/profile-picture2.jpg" class="card-img-top" alt="Rebecca's Profile Picture">
    <div class="card-body">
      <h5 class="card-title">Second Story</h5>
      <p class="card-text">Some experience....</p>
      <a href="/" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
