body{
    background: #000E31;
    padding: 250px;
    font-family: Lato;
    font-size: 24px;
    line-height: 1.42857143;
}

h1{
    margin:0px;
}

.my-profile-img {
    background-image: url(../../../assets/img/profile-picture1.jpg);
    background-size: cover;
    background-position: center top;
    height: 370px;
    width: 370px;
    border-radius: 50%;
    display: inline-flex;
    margin-top: 18px;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    color: white;
}

.mine {
    padding: 17px 0px;
    padding-top: 17px;
    padding-right: 0px;
    padding-bottom: 17px;
    padding-left: 0px;
}